@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #8899A6;
    background-color:#182430;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cont{
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.appTitle Link{
  color: whitesmoke; 
  padding-left: 5px; 
  text-decoration: none; 
  
}